<section class="about section flex-center">
  <div class="about-box">
    <h3 class="about-box__title">Самая вкусная пицца в мире
      <span class="orange">только в Pizza Cheff</span>
    </h3>
    <div class="about-box__items flex-center">
      <div class="about-card__item flex-center">
        <img src="assets/images/hop.png" alt="">
        <div class="about-card__inner-box">
          <div class="about-card__title">Лучшее тесто</div>
          <div class="about-card__text">Мы создаем тесто только из отборной итальянской муки наивысшего качества</div>
        </div>
      </div>
      <div class="about-card__item flex-center">
        <img src="assets/images/kitchen-pack.png" alt="">
        <div class="about-card__inner-box">
          <div class="about-card__title">Лучшие повара</div>
          <div class="about-card__text">Пиццы готовят самые профессиональные итальянские повара</div>
        </div>
      </div>
      <div class="about-card__item flex-center">
        <img src="assets/images/seo-and-web.png" alt="">
        <div class="about-card__inner-box">
          <div class="about-card__title">гарантия качества</div>
          <div class="about-card__text">Наша пиццерия получила множество наград и признаний по всему миру</div>
        </div>
      </div>
      <div class="about-card__item flex-center">
        <img src="assets/images/holidays.png" alt="">
        <div class="about-card__inner-box">
          <div class="about-card__title">отборные рецепты</div>
          <div class="about-card__text">Мы используем рецепты от мировых лидеров в изготовлении пиццы</div>
        </div>
      </div>
    </div>
    <button class="btn">Выбрать пиццу</button>
  </div>
  <img class="about-img" src="assets/images/pizza_big.png" alt="" >
</section>
