.pizza-list__title {
  font-size: 35px;
  font-family: "Muller Bold";
  text-align: center;
  margin-bottom: 60px;
  color: var( --light-very-brown);
}

.pizza-list__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

/*Full image*/
.full-image__container {
  z-index: 6;
  margin: 0 auto;
  padding: 30px;
  width: 700px;
  border-radius: 10px;
  border: 1px solid var(--brown-very-dark);
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(250, 250, 250, 0.9);
}

.full-image__container img {
  width: 100%;
  height: auto;
}

@media (max-width: 760px) {
  .full-image__container {
    width: 100%;
  }
}
