<footer class="container section">
  <div class="footer-wrapper flex-center">
    <div class="footer-text-box">
      <div class="footer-text-box__title">
        Хватит думать! <span class="orange">Доставим заказ за 30 минут!</span>
      </div>
      <div class="footer-text-box__text">Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа.
        Если мы опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы
        гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </div>
    </div>
    <div class="footer-form__wrapper">
      <form class="footer-form">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Ваше имя">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Адрес доставки">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Телефон">
        </div>
        <button class="btn">Оформить заказ</button>
      </form>
    </div>
    <img class="footer_img" src="../assets/images/pizzzzza.png" alt="">
  </div>
</footer>
