<footer class="container section">
  <div class="footer-wrapper flex-center">
    <div class="footer-text-box">
      <div class="footer-text-box__title">
        Хватит думать! <span class="orange">Доставим заказ за 30 минут!</span>
      </div>
      <div class="footer-text-box__text">Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа.
        Если мы опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы
        гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </div>
    </div>
    <div class="footer-form__wrapper">
      <form class="footer-form" [formGroup]="form" (ngSubmit)="send()">
        <div class="form-group">
          <input class="form-control" (keydown)="checkValue($event)" type="text" placeholder="Ваше имя *"
                 formControlName="name">
          <div class="alert-container"
               *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)">
            <span class="alert" *ngIf="form.controls['name'].errors?.['required']">
                 Введите ваше имя
            </span>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Адрес доставки *" formControlName="address">
          <div class="alert-container"
               *ngIf="form.controls['address'].invalid && (form.controls['address'].dirty || form.controls['address'].touched)">
            <span class="alert" *ngIf="form.controls['address'].errors?.['required']">
                 Введите адрес доставки
            </span>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" type="tel" placeholder="Телефон *" formControlName="phone">
          <div class="alert-container"
               *ngIf="form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched)">
            <span class="alert" *ngIf="form.controls['phone'].errors?.['required']">
                 Введите номер телефона
            </span>
            <span class="alert" *ngIf="form.controls['phone'].errors?.['pattern']">
                 Номер телефона должен содержать только цифры
            </span>
          </div>
        </div>
        <app-loader style="text-align: center" *ngIf="isLoading$ | async"></app-loader>
        <button *ngIf="!(isLoading$ | async)" class="btn" [class.disabled]="form.invalid" [disabled]="form.invalid">Оформить заказ</button>
      </form>
    </div>
    <img class="footer_img" src="../assets/images/pizzzzza.png" alt="">
  </div>
</footer>

<app-popup [text]="'Спасибо за заказ'"></app-popup>
