.footer-wrapper {
  justify-content: space-between;
}

.footer-text-box {
  width: 367px;
}

.footer-text-box__title {
  font-family: "Muller Extra Bold";
  font-size: 35px;
  color: var(--brown-light);
}

.footer-text-box__text {
  margin-top: 70px;
  line-height: 24px;
  color: var(--brown-light);
}

.footer-form__wrapper {
  width: 330px;
}

.footer-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.alert-container {
  position: relative;
}

.alert {
  position: absolute;
  top: 5px;
  color: #ed3003;
  font-size: 10px;
}

.popup-text {
  font-weight: bold;
  font-size: 20px;
  padding: 50px;
}

@media (max-width: 858px){
  .footer-wrapper {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }
  .footer-text-box,
  .footer-form__wrapper,
  .footer_img {
    width: 100%;
  }
}
