<ul class="screen-menu" [class.active]="isOpenMenu">
  <li class="header-menu__item">Пиццы</li>
  <li class="header-menu__item">Напитки</li>
  <li class="header-menu__item">Доставка и оплата</li>
  <li class="header-menu__item">Контакты</li>
</ul>
<header class="header">
  <div class="container justify-space-between flex-center">
    <div class="header-logo flex-center">
      <img class="header-logo__image" src="../assets/images/pizza.png">
      <h4 class="header-logo__title">Pizza cheff</h4>
    </div>
    <ul class="header-menu flex-center">
      <li class="header-menu__item">Пиццы</li>
      <li class="header-menu__item">Напитки</li>
      <li class="header-menu__item">Доставка и оплата</li>
      <li class="header-menu__item">Контакты</li>
    </ul>
    <ul class="burger-menu" [class.active]="isOpenMenu" (click)="toggleMenu()">
      <li class="burger-menu__line"></li>
      <li class="burger-menu__line"></li>
      <li class="burger-menu__line"></li>
      <li class="burger-menu__line"></li>
    </ul>
  </div>
</header>

<main class="container">
  <section class="about section flex-center">
    <div class="about-box">
      <h3 class="about-box__title">Самая вкусная пицца в мире
        <span class="orange">только в Pizza Cheff</span>
      </h3>
      <div class="about-box__items flex-center">
        <div class="about-card__item flex-center">
          <img src="../assets/images/hop.png" alt="">
          <div class="about-card__inner-box">
            <div class="about-card__title">Лучшее тесто</div>
            <div class="about-card__text">Мы создаем тесто только из отборной итальянской муки наивысшего качества</div>
          </div>
        </div>
        <div class="about-card__item flex-center">
          <img src="../assets/images/kitchen-pack.png" alt="">
          <div class="about-card__inner-box">
            <div class="about-card__title">Лучшие повара</div>
            <div class="about-card__text">Пиццы готовят самые профессиональные итальянские повара</div>
          </div>
        </div>
        <div class="about-card__item flex-center">
          <img src="../assets/images/seo-and-web.png" alt="">
          <div class="about-card__inner-box">
            <div class="about-card__title">гарантия качества</div>
            <div class="about-card__text">Наша пиццерия получила множество наград и признаний по всему миру</div>
          </div>
        </div>
        <div class="about-card__item flex-center">
          <img src="../assets/images/holidays.png" alt="">
          <div class="about-card__inner-box">
            <div class="about-card__title">отборные рецепты</div>
            <div class="about-card__text">Мы используем рецепты от мировых лидеров в изготовлении пиццы</div>
          </div>
        </div>
      </div>
      <button class="btn">Выбрать пиццу</button>
    </div>
    <img class="about-img" src="../assets/images/pizza_big.png" alt="" >
  </section>
  <section class="section pizza-list">
    <h3 class="pizza-list__title">Выберите свою любимую пиццу </h3>
    <div class="pizza-list__container">
      <div class="pizza-card">
        <img class="pizza-card__img" src="../assets/images/pizza/Layer_2.png" alt="">
        <h5 class="pizza-card__title">Мясная Делюкс</h5>
        <p class="pizza-card__text">Пепперони, лук, бекон, томатная паста, колбаски, перец, грибы, соус чили,
          ананасы</p>
        <button class="btn">В корзину</button>
      </div>
      <div class="pizza-card">
        <img class="pizza-card__img" src="../assets/images/pizza/Layer_3.png" alt="">
        <h5 class="pizza-card__title">Морская Премиум</h5>
        <p class="pizza-card__text">Перец, сыр, креветки, кальмары, мидии, лосось</p>
        <button class="btn">В корзину</button>
      </div>
      <div class="pizza-card">
        <img class="pizza-card__img" src="../assets/images/pizza/Layer_4.png" alt="">
        <h5 class="pizza-card__title">Бекон и Сосиски</h5>
        <p class="pizza-card__text">Бекон, сыр, сосиски, ананас, томатная паста</p>
        <button class="btn">В корзину</button>
      </div>
      <div class="pizza-card">
        <img class="pizza-card__img" src="../assets/images/pizza/Layer_5.png" alt="">
        <h5 class="pizza-card__title">Куриная Делюкс</h5>
        <p class="pizza-card__text">Курица, ананас, сыр Пепперони, соус для пиццы, томатная паста</p>
        <button class="btn">В корзину</button>
      </div>
      <div class="pizza-card">
        <img class="pizza-card__img" src="../assets/images/pizza/Layer_6.png" alt="">
        <h5 class="pizza-card__title">Барбекю Премиум</h5>
        <p class="pizza-card__text">Свинина BBQ, соус Барбкею, сыр, курица, соус для пиццы, соус чили</p>
        <button class="btn">В корзину</button>
      </div>
      <div class="pizza-card">
        <img class="pizza-card__img" src="../assets/images/pizza/Layer_7.png" alt="">
        <h5 class="pizza-card__title">Пепперони Дабл</h5>
        <p class="pizza-card__text">Пепперони, сыр, колбаса 2 видов: обжаренная и вареная</p>
        <button class="btn">В корзину</button>
      </div>
      <div class="pizza-card">
        <img class="pizza-card__img" src="../assets/images/pizza/Layer_8.png" alt="">
        <h5 class="pizza-card__title">Куриное трио</h5>
        <p class="pizza-card__text">Жареная курица, Тушеная курица, Куриные наггетсы, перец, сыр, грибы, соус для
          пиццы</p>
        <button class="btn">В корзину</button>
      </div>
      <div class="pizza-card">
        <img class="pizza-card__img" src="../assets/images/pizza/Layer_9.png" alt="">
        <h5 class="pizza-card__title">Сырная</h5>
        <p class="pizza-card__text">Сыр Джюгас, Сыр с плесенью, Сыр Моцарелла, Сыр секретный</p>
        <button class="btn">В корзину</button>
      </div>
    </div>
  </section>
</main>

<footer class="container section">
  <div class="footer-wrapper flex-center">
    <div class="footer-text-box">
      <div class="footer-text-box__title">
        Хватит думать! <span class="orange">Доставим заказ за 30 минут!</span>
      </div>
      <div class="footer-text-box__text">Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа.
        Если мы опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы
        гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </div>
    </div>
    <div class="footer-form__wrapper">
      <form class="footer-form">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Ваше имя">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Адрес доставки">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Телефон">
        </div>
        <button class="btn">Оформить заказ</button>
      </form>
    </div>
    <img class="footer_img" src="../assets/images/pizzzzza.png" alt="">
  </div>
</footer>


