/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Muller Regular';
  src: url("assets/fonts/MullerRegular.woff2"), url("assets/fonts/MullerRegular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Muller Bold';
  src: url("assets/fonts/MullerBold.woff2"), url("assets/fonts/MullerBold.woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Muller Extra Bold';
  src: url("assets/fonts/MullerExtraBold.woff2"), url("assets/fonts/MullerExtraBold.woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  cursor: default;
  box-sizing: border-box;
}

body {
  font-family: 'Muller Regular', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --orange: #ffaf18;
  --brown-light: #b99150;
  --brown-dark: #a46b00;
  --black: #000000;
  --orange-light: #ffc468;
  --brown-very-dark: #382400;
  --light-very-brown: #bd985c;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.section {
  margin-top: 130px;
}

.btn {
  font-family: "Muller Bold";
  background-color: var(--orange);
  outline: none;
  border: none;
  padding: 22px 54px;
  cursor: pointer;
}

.form-control {
  width: 100%;
  font-family: "Muller Regular";
  font-size: 18px;
  border: 1px solid var(--brown-light);
  color: #cba86e;
  padding: 22px;
}
